body{
	background-color: #383e49;

}

h1{text-align: center;
	font-family: Arial;
	font-weight: bold;
	color:#efeaea;
	text-decoration: underline;}

	p{
		line-height: 25px;
		margin: 15px;
		font-family: Tahoma;
		color: white;
	}

#title_img{
			width:400px;
			height: 300px;
			position: relative;
			left:480px;

		  }
		  	.menu{display: inline;}
#navigate{
		list-style-type: none;
		background-color: #878484;
		}
		#navigate a{
			text-decoration: none;
			display: block;
		}
		#navigate a:hover{
			background-color: white;
			color: black;
		}
		#navigate a:visited{
			color:#f4c8c8;
		}
		#navigate a:link{
			color:#ff7272;
		}

#navigate li{ 	
				padding: 10px;
				display: block;
				color: #ff7272;
				text-align: center;
				background-color: #878484;

				

}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

*/