body{
	background-color: #383e49;

}

h1{text-align: center;
	font-family: Arial;
	font-weight: bold;
	color:#efeaea;
	text-decoration: underline;}

	p{
		line-height: 25px;
		margin: 15px;
		font-family: Tahoma;
		color: white;
		position: relative;
		top: 100px;

	}

#title_img{
			width:400px;
			height: 300px;
			position: relative;
			left:450px;
			top:75px;

		  }
		  	
#navigate{
		list-style-type: none;
		background-color: #878484;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 20px;
		}
#navigate li{ 	
				float: left;
				padding: 0px 70px;
				color: #ff7272;
				text-align: center;
				background-color: #878484;

				

}

		
		#navigate li a{
			text-decoration: none;
				line-height: 40px;
				display: block;
				text-align: center;
			
		}
		#navigate li a:visited{
			color:#ff7272;
		}
		#navigate li a:link{
			color:#f4c8c8;
			font-weight: bold;
		}

		#navigate li a:hover{
			background-color: #858A8F;
			text-decoration: underline;
			color:#C12909;
			
		}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

*/