body{
	background-color: #383e49;

}

h1{text-align: center;
	font-family: Arial;
	font-weight: bold;
	color:#efeaea;
	text-decoration: underline;}

#title_img{
			width:400px;
			height: 300px;
			position: relative;
			left:450px;
			top:75px;

		  }
		  	
#navigate{
		list-style-type: none;
		background-color: #878484;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 20px;
		}
#navigate li{ 	
				float: left;
				padding: 0px 70px;
				color: #ff7272;
				text-align: center;
				background-color: #878484;

				

}

		
		#navigate li a{
			text-decoration: none;
				line-height: 40px;
				display: block;
				text-align: center;
			
		}
		#navigate li a:visited{
			color:#ff7272;
		}
		#navigate li a:link{
			color:#f4c8c8;
			font-weight: bold;
		}

		#navigate li a:hover{
			background-color: #858A8F;
			text-decoration: underline;
			color:#C12909;
			
		}

		.paras{position: relative;
		top: 100px;
		color: white;}
	.paras p{
		line-height: 25px;
		margin: 20px;
		font-family: Tahoma;
		color: white;
		

	}
	h2{
		padding:10px 20px;
		font-family: 'Capture it';
		color: #efeaea;
	}
	.paras ul{
				list-style-type: square;
	}

	.paras li{
		font-family: Tahoma;
			line-height: 18px;
			margin-bottom: 40px;
	}

	.head{
			font-weight:bold;
			font-size: 20px;
			word-spacing: 5px;
			text-decoration: underline;
			color: #DA451D;
	}